.banner {
    background-color: #393e46;
    padding: 20px;
    color: #fff;
    text-align: center;
  }
  .banner h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .search-bar {
    margin-top: 20px;
  }
  
  .search-bar input[type="text"] {
    padding: 8px;
    width: 200px;
  }
  
  .search-bar button {
    padding: 8px 16px;
    background-color: #f96d00;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: "4px";
  }
  